<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>
            **/.godot/**/*.cs,
            **/src/UI/**/*.cs,
            **/src/Game/GameSession.cs,
            **/src/Game/World/MapEditor.cs,
            **/src/Game/World/TerrainRenderer.cs,
            **/src/Systems/Networking/LobbyManager.cs,
            **/src/Game/Buildings/BuildingPlacer.cs,
            **/src/Game/Units/UnitNode3D.cs,
            **/src/Game/VFX/ParticleFactory.cs,
            **/src/Game/Economy/HarvesterSystem.cs,
            **/src/Game/World/PropPlacer.cs,
            **/src/Game/AI/SkirmishAI.cs,
            **/src/Game/AI/AIBuildOrder.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
